body {
    padding-top: 11vh;
    background-color: #2F3136;
}
#bloco-de-cadastro {
    background-color: #40444B;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 600px;
    border-radius: 10px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#imagem-do-topo{
    padding-top: 3vh; 
    padding-bottom: 2vh;
}
#nome-completoi{
    margin: 10px;
    width: 80%;
    height: 45px;
    background-color: #D2D2D2;
    font-size: 18px;
    border-radius: 40px;
    position: relative;

}
#e-maili{
    margin: 10px;
    width: 80%;
    height: 45px;
    background-color: #D2D2D2;
    font-size: 18px;
    border-radius: 30px;
    position: relative;
}
#senhai{
    background-color: #D2D2D2;
    font-size: 18px;
    margin: 10px;
    width: 80%;
    height: 45px;
    border-radius: 30px;
    position: relative;
}
#confirme-senhari{
    background-color: #D2D2D2;
    font-size: 18px;
    margin: 10px;
    width: 80%;
    height: 45px;
    border-radius: 30px;
    position: relative;
}
#termos-de-uso{
    background-color: #D2D2D2;
    margin: 8px;    

}
#botão-de-registrari{
    margin: 4px;
    width: 80px;
    height: 30px;
    border-radius: 30px;
    padding: .3rem
    
}
#email{
    position: absolute;
    top:278px;
    left: 65%;
}
#nome{
    position: absolute;
    top:208px;
    left: 65%;
}
#senhaii{
    position: absolute;
    top:348px;
    left: 65%;
}
#confirme-senharii{
    position: absolute;
    top:418px;
    left: 65%;
}